:root {
  --color-h1: hsl(183, 83%, 30%);

  --color-menu-background: hsl(0, 0%, 80%);
  --color-menu-text: hsl(0, 0%, 20%);
  --color-menu-hover-background: hsl(0, 0%, 87%);
  --color-menu-hover-text: hsl(347, 75%, 35%);

  --color-side-menu-border: hsl(0, 0%, 30%);
  --color-side-menu-background: hsl(0, 0%, 57%);

  --color-footer-text: hsl(0, 0%, 80%);
  --color-footer-background: hsl(0, 0%, 20%);
}
