@use "color";
@use "base";

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.page-container {
  .page-content {
    min-height: var(--content-height);
  }
}

h1{
  color: var(--color-h1);
}
